*{
    margin: 0;
    padding: 0;
    
}
form{
    height: 600px;
    width: 700px;
    border: 2px solid rebeccapurple;
    margin: auto;
    padding: 20px 40px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    margin-top: 5px;
    
}
.first h1{
    color: rgb(22, 21, 21);
}
.first h3{
    color: rgb(27, 25, 25);
    margin-top: 10px;
}
.first input{
    padding: 10px;
    margin-top: 35px;
    border: 1px solid rgb(190, 165, 165);
    border-radius: 5px;
}
.first input:focus{
    background-color:chartreuse;
    
}

fieldset{
    border: none;
}

.first{
    width: 600px;
    height: 600px;
    float: left;
}
.second{
    
    width: 800px;
    height: 1000px;
}
.btn{
    border: none;
    padding: 10px;
    background-color: rgb(236, 219, 219);
}
.btn:hover{
    background-color: rgb(255, 248, 248);
}
.btn2{
    background-color: rgb(30, 30, 173);
    padding: 10px 40px;
    border-radius: 10px;
    color: whitesmoke;
    margin-left: 160px;
    font-size: 15px;
}
.btn2:hover{
    background-color: blue;
}
.last-image{
    margin-left: 460px;
    margin-top: -450px;
    margin-bottom: 400px;
}
.para{
    margin-top: -410px;
    float: left;
    margin-left: 480px;
   font-size: 20px;
   color: rgb(54, 54, 54);
}